*{	margin:0;	
	padding:0; 
}

body{
	background:#1abc9c;
	color:#fff;
	font-family: 'Gloria Hallelujah', cursive;	
	font-size:18px;
}


/*HEADER*/
h2{	font-size:20px;	
	margin-bottom:50px;
}
a
{
	color:#fff;
}



/*WRAPPER*/
#wrapper{ margin: 40px auto 0;	
	width:500px; 
}

#wrapper > div{	margin-bottom:10px;	}


/*CHECKBOX*/
.box
{   display:none; 
	position: relative;

}

.box1{
	position: absolute;
	margin-left: 250px;
}

.type{
	width:23px;
	height:23px;
	
}

label div{
	width:23px;
	height:23px;
	display:inline-block;
	border:2px solid #fff;
	text-align:center;
	line-height:20px;
	margin-right:6px;	
	border-radius:3px;
	cursor:pointer;	
}

button{
	width: 120px;
	height: 50px;
	border-radius: 25px;
}

a{
	background-color: white;
	color: black;
	text-decoration: none;
}
table {
	border: none;
	outline: none;
}

label i{ font-size:16px;	opacity:0; }
label:hover div{ background:#16a085; }
input:checked+label i{ opacity:1; }
input:checked+label div{ background:#16a085; }