*{
    margin: 0;
    padding: 0;
}
body{
    background: whitesmoke;
}
table{
    width: 800px;
    margin: auto;
    table-layout: auto;
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;

}
table,tr,th,td{
    border: 1px double black;
    border-collapse: collapse;
    padding: 20px;
    font-size: 20px;
}
th{
    background:#6F4E37;
    color: white;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}