<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}">
</head>
<body>
    {% with message1 = get_flashed_messages() %}
        {% if message1 %}
            {% for message in message1 %}
                <p class="msg">{{ message }}</p>
            {% endfor %}
        {% endif %}  
    {% endwith %}  

    <div class="flex">
        <div class="card">
            <img src="{{ url_for('static',filename='images/Coffee.jpg') }}" class="card-img" alt="Image">
            <h3>Coffee</h3>
            <p>Order from our range of freshly brewed Authentic Coffee served here.</p>
            <button class="btn"><a href="/coffeemenu">Order Now</a></button>
        </div>
                
        <div class="card">
            <img src="{{ url_for('static',filename='images/pizza.jpg') }}" class="card-img" alt="Image">
            <h3>Pizza</h3>
            <p>Freshly hand tossed Pizza, baked at 480* F with cheese inserts served here.</p>
            <button class="btn"><a href="/pizzamenu">Order Now</a></button>
        </div>
        <div class="card">
            <img src="{{ url_for('static',filename='images/Burgers.jpg') }}" class="card-img" alt="Image">
            <h3>Burgers</h3>
            <p>Gourmet Burgers made with farm baked bread served here.</p>
            <button class="btn"><a href="/burgers">Order Now</a></button>
        </div>
        <div class="card">
            <img src="{{ url_for('static',filename='images/Sandwiches.jpg') }}" class="card-img" alt="Image">
            <h3>Sandwiches</h3>
            <p>Sandwiches like you had never before served here.</p>
            <button class="btn"><a href="/Sandwiches">Order Now</a></button>
            
        </div>
        <div class="card">
            <img src="{{ url_for('static',filename='images/ShortEats.jpg') }}" class="card-img" alt="Image">
            <h3>Short Eates</h3>
            <p>Small bites that fill your stomach with goodness served here.</p>
            <button class="btn"><a href="/shorteates">Order Now</a></button>
        </div>
        <div class="card">
            <img src="{{ url_for('static',filename='images/Beverages.png') }}" class="card-img" alt="Image">
            <h3>Beverages</h3>
            <p>Select from our range of Cold and Warm Beverages served here.</p>
            <button class="btn"><a href="/Beverages">Order Now</a></button>
        </div>
        
    </div>
    <button class="btn1"><a href="/item">Select Item</a></button>
</body>
</html>