<!DOCTYPE html>

<html>

<head>

	<title>CART</title>

	<link rel="stylesheet" type="text/css" href="styleq.css">

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>



<div class="container">

	<h1>CART</h1>

	<div class="cart">

		<div class="products">

			<div class="product">

				<img src="Americancheese.png">

				<div class="product-info">

					<h3 class="product-name">American Grilled Cheese Burger</h3>

					<h4 class="product-price">₹250</h4>

					

					<p class="product-quantity">Qnt: <input value="1" name="">

					<p class="product-remove">

						<i class="fa fa-trash" aria-hidden="true"></i>

						<span class="remove">Remove</span>

					</p>

				</div>

			</div>

			

			

		</div>

		<div class="cart-total">

			<p>

				<span>Total Price</span>

				<span>₹250</span>

			</p>

			<p>

				<span>Number of Items</span>

				<span>1</span>

			</p>

			

			<a href="#">Pay at counter (Cash/UPI)</a>

		</div>

	</div>

</div>



</body>


</html>